@page "/"
@using BitcoinPriceForecasting.ViewModels
@using Common
@using Common.Entities
@using System.Globalization
@inject CryptoDataFetcher Datafatcher

<PageTitle>Bitcoin Info</PageTitle>

<h1>Інформація про біткоїн</h1>

@if (_coinData == null)
{
    <p>Немає інформації</p>
}
else
{
    <p>
        Дата створення: @_coinData.GenesisDate<br>
        Найвища ціна за увеь час: @_coinData.MarketData.AthPrice["usd"] доларів<br>
        Поточна ціна: @_coinData.MarketData.CurrentPrice["usd"] доларів<br>
        Найвища ціна за 24 годині: @_coinData.MarketData.High24h["usd"] доларів<br>
        Найнища ціна за 24 годині: @_coinData.MarketData.Low24h["usd"] доларів<br>
        Price change 24 hours: @_coinData.MarketData.PriceChange24h доларів<br>
        Зміна ціни у відсотках за 24 години: @_coinData.MarketData.PriceChangePercentage24h %<br>
        Зміна ціни у відсотках за 7 днів: @_coinData.MarketData.PriceChangePercentage7d %<br>
        Зміна ціни у відсотках за 30 днів: @_coinData.MarketData.PriceChangePercentage30d %<br>
        Зміна ціни у відсотках за 60 днів: @_coinData.MarketData.PriceChangePercentage60d %<br>
        Зміна ціни у відсотках за  200 днів: @_coinData.MarketData.PriceChangePercentage200d %<br>
    </p>

    <RadzenStack class="rz-p-0 rz-p-md-6 rz-p-lg-12">
        <RadzenCard Variant="Variant.Outlined" style="@($"width: 2000px")">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" Component="dataLabels" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>

        <RadzenChart>
            <RadzenChartTooltipOptions/>
            <RadzenLineSeries Smooth="true" Data="@bitcoinPrices" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Price">
                <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" Size="5" />
                <RadzenSeriesDataLabels Visible="@showDataLabels" />
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" LabelAutoRotation="-90"/>
            <RadzenValueAxis Formatter="@FormatAsUSD">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Prices" />
            </RadzenValueAxis>
        </RadzenChart>
    </RadzenStack>
}



@code{
    private const string BitcoinId = "bitcoin";

    private CoinData? _coinData;
    private CoinHistoricalData? _coinHistoricalData;
    private HistoricalDataViewModel _coinHistoricalDataVM;
    bool showDataLabels = false;
    BitcoinPriceDataViewModel[] bitcoinPrices;

    protected override async Task OnInitializedAsync()
    {
        _coinData = await Datafatcher.GetData(BitcoinId);
        _coinHistoricalData = await Datafatcher.GetHistoricalData(BitcoinId);

        var bitcoinPrices1 = _coinHistoricalData.Prices
        .Select(x => new BitcoinPriceDataViewModel
        {
            Date = UnixTimeStampToDateOnly(Convert.ToDouble(x[0])).ToString(),
            Price = Convert.ToDouble(x[1])
        })
        .ToArray();


        bitcoinPrices = bitcoinPrices1.Skip(bitcoinPrices1.Length / 2).ToArray();
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }


    public DateTime UnixTimeStampToDateOnly(double unixTimeStamp)
    {   
        unixTimeStamp /= 1000;
        DateTime dateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
        dateTime = dateTime.AddSeconds(unixTimeStamp).ToLocalTime();
        return dateTime;        
    }
}